body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0; }

h2 {
  color: blue;
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

.sprites {
  display: block;
  font-size: 0;
  background-image: url(/eff79e15991ff54828686e10dabbb0dd.png); }
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975); }

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 69.3%;
  min-height: 76px;
  margin: 0 auto; }

.header__logo {
  flex: 1 9999 auto; }

.header__logo-pic--wrapper {
  display: block;
  width: 175px;
  height: 33px; }

.header__logo-pic {
  display: block;
  width: 175px;
  height: 33px;
  font-size: 0;
  background-position: 0 -138px; }

.header__form {
  position: relative;
  flex: 0 1 auto; }

.header__input {
  height: 20px;
  padding: 3px 10px 3px 26px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  outline: none; }

.sprites__search {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 10px;
  left: 10px;
  background-position: 193px 196px; }

.header__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 1 0 auto;
  margin: 0;
  padding-left: 0;
  list-style: none; }

.header__list-item {
  display: inline-block;
  margin-right: 1.875em; }

.header__list-item:last-child {
  margin-right: 0; }

.header__list-item .sprites {
  display: block;
  width: 24px;
  height: 24px; }

.sprites__find-ppl {
  background-position: 154px -358px; }

.sprites__activity {
  background-position: 283px -358px; }

.sprites__profile {
  background-position: 48px -80px; }

@media (min-width: 320px) and (max-width: 640px) {
  .header__nav {
    flex-direction: column;
    height: 125px; } }
.suggested {
  width: 45%;
  margin: 0 auto;
  padding: 60px 0; }

.suggested__list {
  margin: 0 auto;
  padding-left: 0; }

.suggested__list-title {
  padding: 20px 16px 8px 16px;
  list-style: none; }
  .suggested__list-title h2 {
    font-size: 14px;
    font-weight: 600;
    color: #999999; }

.suggested__border--wrapper {
  border: 1px solid #efefef;
  border-radius: 3px; }

.suggested__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #efefef;
  padding: 8px 16px;
  list-style: none; }

.suggested__list-item:last-child {
  border-bottom: none; }

.item__avatar--wrapper {
  width: 56px;
  height: 56px; }

.item__avatar--wrapper--border {
  box-sizing: border-box;
  border: 2px solid #4f67b0;
  border-radius: 50%; }

.item__avatar--sprites {
  position: relative;
  top: 30%;
  left: 30%;
  width: 22px;
  height: 22px;
  background-position: 22px 0; }

.item__avatar--link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.item__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.item__main {
  flex: 1 0 auto;
  margin-left: 5px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 18px; }

.item__nickname {
  color: #262626;
  font-weight: 600; }

.item__desc {
  color: #999999; }

.item__button {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 3px;
  padding: 0 8px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  outline: none;
  cursor: pointer; }

.item__button--following {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 0 8px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  outline: none;
  cursor: pointer; }

@media (min-width: 320px) and (max-width: 768px) {
  .suggested {
    width: 100%;
    max-width: 580px;
    padding-bottom: 30px; } }
.footer {
  background-color: #fafafa; }

.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 935px;
  margin: 0 auto;
  padding: 38px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px; }

.footer__list {
  padding-left: 0;
  list-style: none; }

.footer__list-item {
  display: inline-block;
  margin-right: 16px; }

.footer__list-item:last-child {
  margin-right: 0; }

.footer__link {
  color: #003569;
  text-transform: uppercase; }

.footer__copyright {
  color: #999999; }

@media (max-width: 735px) {
  .footer__wrapper {
    flex-direction: column;
    padding: 0; }
  .footer__nav {
    text-align: center; } }
.discover__item {
  position: relative;
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
  background-color: white; }

.discover__img-wrapper {
  width: 77px;
  height: 77px;
  margin-bottom: 12px; }

.discover__img {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.discover__nickname {
  font-size: 14px;
  font-weight: 600; }

.discover__desc {
  font-size: 14px;
  color: #999999;
  margin-bottom: 12px; }

.discover__btn {
  padding: 0 22px; }

@media (min-width: 735px) {
  .discover__item {
    height: 220px; } }
.feed__pic-wrapper {
  flex: 1 0 0%;
  margin-right: 28px;
  position: relative; }

.feed__pic-wrapper:last-child {
  margin-right: 0; }

.feed__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99; }
  .feed__link * {
    display: none;
    font-size: 0; }

.feed__link--hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff; }
  .feed__link--hover * {
    display: block; }

.feed__hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600; }
  .feed__hover span {
    margin: 0 4px; }

.feed__hover-heart {
  width: 20px;
  height: 20px;
  background-position: 462px 267px; }

.feed__hover-comments {
  width: 20px;
  height: 20px;
  margin-left: 12% !important;
  background-position: 462px 246px; }

.feed__pic {
  width: 100%;
  height: 100%;
  background-size: cover; }

@media (max-width: 735px) {
  .feed__pic-wrapper {
    margin-right: 3px; } }
.discover__feed {
  margin-bottom: 60px; }

.section__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 16px;
  text-align: left;
  text-transform: capitalize;
  color: #999999; }

.section__title-link {
  float: right;
  font-size: 12px;
  color: #3897f0; }
.activity {
  position: relative;
  min-height: 70vh; }

.activity__title {
  padding-top: 10%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #999999; }
main {
  background-color: #fafafa; }
.section {
  width: 69.311%;
  max-width: 935px;
  margin: 0 auto;
  padding: 60px 20px; }

@media (max-width: 735px) {
  .section {
    width: 100%;
    padding: 0; } }
.profile__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px; }

.profile__avatar-container {
  flex-grow: 1; }

.profile__avatar-wrapper {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  max-width: 152px;
  max-height: 152px; }

.profile__avatar {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #efefef; }

.profile__info {
  flex-grow: 2; }

.profile__info > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.profile__nickname {
  font-size: 32px;
  font-weight: 200;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px; }

.profile__edit-btn {
  height: 28px;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  border: 1px solid #dbdbdb;
  border-radius: 3px; }

.profile__settings-btn {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-position: -391px -156px; }

.profile__list {
  margin-bottom: 20px;
  padding-left: 0; }

.profile__list-item {
  font-size: 14px; }

.profile__list-count {
  font-weight: 600; }

.profile__list li {
  display: inline-block;
  margin-right: 40px; }

.profile__list li:last-child {
  margin-right: 0; }

.profile__info-name {
  font-weight: 600; }

@media (max-width: 735px) {
  .profile__header {
    box-sizing: border-box;
    padding: 30px 16px 24px 16px;
    margin: 0; }
  .profile__avatar-wrapper {
    width: 77px;
    height: 77px; }
  .profile__nickname {
    font-size: 22px; } }
.feed__feed-child {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 28px; }

@media (max-width: 735px) {
  .feed__feed {
    padding-bottom: 30px; }
  .feed__feed-child {
    margin-bottom: 3px; } }
